:root {
  --main-bg: #f1f1f1;
  --com-bg: #fbfbfb;
  --text: #191d1e;
  --col: #628eff65;
  --hovCol: #628eff1a;
  --mgs1: #191d1e;
  --mgs2: #fbfbfb;
  --mgsText: #fff;
  --chatBoxShadow: 0px 6px 10px 0px rgba(101, 101, 101, 0.25);
}
.dark:root {
  // --main-bg: #161819;
  --main-bg: #212122;
  --com-bg: #181a1c;
  --text: #fff;
  --col: #00000079;
  --hovCol: #628eff28;
  --mgs1: #181a1c;
  --mgs2: #0f1011;
  --mgsText: #fff;
  --chatBoxShadow: 0px 4px 20px -5.717092990875244px rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  outline: none;
  background: none;
  border: none;
}
img {
  object-fit: cover;
}

body {
  background-color: var(--main-bg);
  color: var(--text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btnLoader {
  font-size: 17px;
  margin: 0px 10px;
  animation: spinner 2s linear infinite;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  .formWrapper {
    border-radius: 20px;
    background: var(--com-bg);
    box-shadow: 0px 4px 20px -5.717092990875244px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 40px 24px 30px;
    .error {
      color: red;
      font-size: 0.75em;
      font-style: italic;
      margin-bottom: 16px;
      display: block;
    }
    .inputError {
      font-size: 0.75em;
      font-style: italic;
      color: red;
    }
    .link {
      margin-top: 20px;
      font-size: 0.9em;
      a {
        &:hover {
          color: #628eff;
          text-decoration: underline;
        }
      }
    }

    .logo {
      font-size: 2em;
      font-weight: 700;
      font-style: italic;
      text-align: center;
      margin-bottom: 40px;
    }
    .title {
      font-size: 1.6em;
      font-weight: 600;
    }
    .desc {
      font-weight: 500;
      margin-bottom: 14px;
    }
    input {
      color: var(--text);
      display: block;
      width: 100%;
      padding: 14px 16px;
      border-radius: 12px;
      border: 1px solid var(--text);
      margin-bottom: 25px;
      font-size: 1em;
    }
    label {
      margin-bottom: 25px;
      display: flex;
      gap: 16px;
      align-items: center;
      span {
        opacity: 50%;
        font-size: 14px;
      }
      img {
        width: 32px;
        height: 32px;
      }
    }
    button {
      cursor: pointer;
      width: 100%;
      padding: 14px 10px;
      border: none;
      border-radius: 12px;
      font-size: 1.2em;
      color: #fff;
      font-weight: 600;
      background: linear-gradient(
        119deg,
        #628eff 0%,
        #8740cd 53.13%,
        #580475 100%
      );
      &:hover {
        background: linear-gradient(#628eff 100%, #8740cd 03.13%, #580475 0%);
      }
      &:disabled {
        opacity: 30%;
      }
    }
  }
}

.mainContainer {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sideBar {
  width: 100%;
  flex: 1;
  max-width: 400px;
  height: 100vh;
  // min-width: 400px;
  background: var(--com-bg);
  box-shadow: var(--chatBoxShadow);
  z-index: 10;
  display: flex;
  flex-direction: column;
  .navBar {
    background-color: var(--col);
    padding: 14px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > * {
      cursor: pointer;
    }
    .logo {
      font-weight: 700;
      font-size: 1.2em;
      display: flex;
      align-items: center;
      .icon {
        position: relative;
        height: 35px;
        width: 35px;
        padding-top: 5px;
        // color: white;

        .D {
          position: absolute;
          left: 9px;
          top: 7px;
          font-size: 14px;
          font-weight: 900;
          // color: white;
        }
      }
    }
    .themeToggle {
      width: 64px;
      background-color: var(--text);
      color: var(--com-bg);
      display: flex;
      align-items: center;
      gap: 4px;
      border-radius: 17px;
      overflow: hidden;
      > * {
        flex: none;
        width: 30px;
        height: 30px;
        padding: 4px;
        border-radius: 50%;

        transition: all 0.3s ease-in-out;
      }

      &.system {
        background-color: rgba(255, 217, 0, 0.3);
        > :first-child {
          background-color: #628eff;
          order: 1;
        }
        > :nth-child(2) {
          opacity: 30%;
          order: 2;
        }
        > :last-child {
          order: 3;
        }
      }
      &.light {
        background-color: rgba(128, 128, 128, 0.301);
        > :first-child {
          order: 3;
        }
        > :nth-child(2) {
          background-color: gold;
          order: 1;
        }
        > :last-child {
          order: 2;
          opacity: 30%;
        }
      }
      &.dark {
        background-color: hsla(223, 100%, 69%, 0.3);

        > :first-child {
          opacity: 30%;
          order: 2;
        }
        > :nth-child(2) {
          order: 3;
        }
        > :last-child {
          background-color: gray;
          order: 1;
        }
      }
    }
  }
  .search {
    display: flex;
    flex-direction: column;
    background-color: var(--col);
    &.searchResults {
      min-height: calc(100vh - 140px);
      .searchBtn {
        display: block !important;
      }
    }

    .userChatContainer {
      background-color: var(--com-bg);
      .userChats {
        scroll-snap-align: start;
        &:last-child {
          .border {
            width: 100%;
            right: 0;
            height: 10px;
          }
        }
      }
    }
    .searchForm {
      margin: 20px;
      position: relative;
      input {
        width: 100%;
        font-size: 16px;
        border: 1px solid var(--mgs2);
        padding: 10px;
        border-radius: 30px;
        color: var(--text);
      }
      .searchBtn {
        position: absolute;
        display: none;
        top: 0%;
        right: 0%;
        height: 100%;
        padding: 10px;
      }
    }
  }

  .userChatContainer {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
      display: none;
    }
    > div {
      scroll-snap-align: start;
    }
    .userChats {
      scroll-snap-align: start;
      display: flex;
      gap: 15px;
      padding: 20px;
      cursor: pointer;
      position: relative;
      height: 100%;
      transition: all 0.3s ease;
      &:hover {
        background-color: var(--hovCol);
      }

      img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
      }
      .border {
        height: 1px;
        width: calc(100% - 100px);
        background: var(--text);
        opacity: 30%;
        position: absolute;
        bottom: 0;
        right: 20px;
      }
      .unread {
        background-color: green;
        position: absolute;
        color: #fff;
        font-size: 0.65em;
        font-weight: 600;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        top: 20px;
        left: 60px;
      }

      > .info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex: 1;
        min-width: 0;

        .username {
          font-weight: 500;
        }
        .lastMgs {
          flex: 1;
          opacity: 50%;
          font-size: 0.8em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          > span {
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
      }

      .dateTime {
        opacity: 50;
        font-size: 0.75em;
      }
    }
  }
  .bottomNav {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--col);
    > * {
      cursor: pointer;
    }
    padding: 20px;
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
    span {
      font-size: 1.1em;
      font-weight: 500;
      display: inline-block;
      border: 1px solid #ffffff00;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 50%;
    }
    button {
      margin-left: auto;
      height: 100%;
      padding-top: 6px;
      border: 1px solid #00000000;
      color: var(--text);
      &:hover {
        border: 1px solid var(--text);
      }
    }
  }
}

.chats {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: 2;
  // justify-content: end;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  .back {
    display: none;
    transition: all 0.3s ease-in-out;
    padding: 4px 2px 0px;
    &:hover {
      background-color: var(--text);
      background-color: var(--hovCol);
      // color: var(--com-bg);
    }
  }

  .chatTop {
    background-color: var(--com-bg);
    padding: 14px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    // position: absolute;
    width: 100%;
    z-index: 2;
    left: 0;
    top: 0;
    box-shadow: var(--chatBoxShadow);
    > * {
      cursor: pointer;
    }
    // justify-content: space-between;
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
    .username {
      font-weight: 500;
    }
    .icons {
      margin-left: auto;
      display: flex;
      gap: 10px;
      font-size: 20px;
      color: var(--text);
      > * {
        &:hover {
          color: var(--hovCol);
        }
      }
    }
  }
  .mgsContainer {
    display: flex;
    flex-direction: column-reverse;
    // justify-content: end;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .message {
      scroll-behavior: smooth;
      margin: 0 48px;
      padding: 24px 32px;
      background-color: var(--mgs1);
      color: var(--mgsText);
      box-shadow: var(--chatBoxShadow);
      height: auto;
      border-radius: 20px;
      width: fit-content;
      max-width: 410px;
      position: relative;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      &.image {
        border-radius: 10px;
        padding: 4px 4px 10px;
      }
      > p {
        flex: 6;
        width: 100%;
        height: 100%;
        white-space: wrap;
        word-break: break-all;
      }
      > img {
        flex: 1;
        width: 100%;
        height: 100%;
        max-width: 406px;
        max-height: 400px;
        object-fit: contain;
        z-index: 2;
      }
      .egde {
        display: inline-block;
        width: 16px;
        height: 16px;
        transform: rotate(45deg);
        background-color: var(--mgs1);
        // background-color: red;
        position: absolute;
        left: -6px;
        top: 24px;
      }
    }
    .message.own {
      background-color: var(--mgs2);
      align-self: flex-end;
      color: var(--text);
      .egde {
        right: -6px;
        left: auto;
        background-color: var(--mgs2);
      }
    }
  }
  .inputContainer {
    width: 100%;
    background-color: var(--com-bg);
    // position: absolute;
    height: auto;
    max-height: 400px;
    min-height: 70px;
    padding: 22px 0;
    left: 0;
    bottom: 0;
    box-shadow: var(--chatBoxShadow);
    .imageContainer {
      background-color: rgba(0, 0, 0, 0.501);
      position: absolute;
      z-index: 11;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      padding: 40px;
      align-items: center;
      justify-content: center;
      .removeImg {
        position: absolute;
        font-size: 30px;
        right: 40px;
        top: 40px;
        &:hover {
          color: red;
        }
      }
      .imagePreview {
        background-color: var(--main-bg);
        border-radius: 10px;
        padding: 20px 0px 0;
        height: 100%;
        width: 100%;
        max-height: 500px;
        max-width: 500px;
        img {
          width: 90%;
          height: 90%;
          padding: 0 20px;
          object-fit: contain;
        }
        form {
          height: fit-content !important;

          input {
            background-color: var(--com-bg);
            width: 100%;
            margin: 0%;
          }
        }
      }
    }
    form {
      width: 100%;
      background-color: var(--com-bg);
      display: flex;
      height: 100%;
      padding: 0 20px;
      align-items: center;
      input {
        font-size: 1em;
        width: 100%;
        color: var(--text);
      }
      // textarea {
      //   font-size: 1em;
      //   padding: 5px 0 0;
      //   width: 100%;
      //   height: 100%;
      //   max-height: 110px;
      //   color: var(--text);
      //   font-family: inherit;
      // }
      .inputIcon {
        color: var(--text);
        padding: 5px;
        margin: 0 5px;
        &:hover {
          color: var(--hovCol);
        }
      }
      button {
        rotate: 45deg;
        color: var(--text);

        &:disabled {
          opacity: 30%;
        }
      }
    }
  }
}
.noChat {
  .chats {
    p {
      height: 100%;
      font-size: 5em;
      text-align: center;
      font-family: cursive;
      font-style: italic;
      font-weight: 700;
      padding-top: 20%;
      opacity: 25%;
    }
  }
}

@media screen and (max-width: 768px) {
  .sideBar {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    left: -120%;
    top: 0;
    transition: all 0.3s ease;
  }
  .chats {
    .back {
      display: block;
    }
    .mgsContainer {
      .message {
        max-width: 80%;
      }
    }
  }
  .noChat {
    .sideBar {
      left: 0%;
    }
  }
}
@keyframes spinner {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 360deg;
  }
  100% {
    rotate: 0deg;
  }
}
